# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.py

# Virtual environments
.venv/
venv/
env/

# Environment
.env
.env.*

# Logs
*.log

# Cache
.cache/
cache/
split_cache/
test/
angYNGR%20%E2%80%93%20Ellie%20Nova%20%E2%80%93%20Ellie%20Nova%20Has%20A%20Masters%20In%20Getting%20Fuckedp.mp4/
stuff/
# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

*.exe

# Ignore project files
combined.bat
create_multiple_m3u8.py
getlinks.py
m3u8_splitter.py
make_m3u8_jellyfin.py
upload_github.py
video_links.txt